
.background-gradient (@from, @to) {
    background: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to));
    background: -moz-linear-gradient(top, @from,  @to);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='@from', endColorstr='@to');
}

.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);

    &:hover {
        text-decoration: none;
    }

    &:active {
        position: relative;
        top: 1px;
    }
}

.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    .background-gradient(#faa51a, #f47a20);

    &:hover {
        .background-gradient(#f88e11, #f06015)
    }

    &:active {
        color: #fcd3a5;
        .background-gradient(#f47a20, #faa51a)
    }
}

.blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    .background-gradient(#00adee, #0078a5);

    &:hover {
        .background-gradient(#0095cc, #00678e)
    }

    &:active {
        color: #fcd3a5;
        .background-gradient(#0078a5, #00adee)
    }
}

#nav {
    margin: 5px 5px 0px 5px;
    padding-bottom: 10px;
    border-bottom: solid 2px black;
    li {
        display: inline-block;

        a {
            .button;
            .orange;
        }
    }
}


#connectArea {
    overflow: auto;
    position: relative;

    #receiptListContainer {
        position: absolute;
        top: 0px;
        left: 0px;
        overflow: auto;
        width: 400px;
    }

    #receiptList {

    }

    #receiptList li {
    /*display: table-row;*/
    /*border: solid 3px transparent;*/
        position: relative;
        padding: 5px 5px;

        border-bottom: solid 1px black;

        &:hover {
            background: #d0d0d0;
        }

        .date {
            display: block;
        }

        .title {
            display: block;
            padding-left: 20px;
            margin-top: 10px;
        }

        .total {
            position: absolute;
            right: 5px;
            top: 5px;

        }
    }

    #imagesArea {
        margin-left: 400px;

        .actions {
            padding:  5px;

            .group {
                display: inline-block;
                border-left: solid 2px red;
                padding-left: 5px;
            }

            .group:first-child {
                border-left: none;
                padding-left: 0;
            }

            a {
                .button;
                .blue;
            }
        }

        #imagePreview {
//            background: yellow;
            overflow: hidden;
            text-align: center;
        }

        #imageListContainer {
            position: relative;
            padding-top: 5px;
//            background: green;

            .scrollarea {
                position: absolute;
                top: 5px;
                left: 0;

                overflow: hidden;
                overflow-x: auto;

                #imageList {
                /*display: table;*/
                    white-space: nowrap;
                    margin-bottom: 5px;

                    li {
                        display: inline-block;
                        width: 100px;
                        height: 100px;
                        border: 1px solid #707070;

                        text-align: center;

                        &:hover {
                            background: #D0D0D0;
                        }

                        img {
                            vertical-align: top;
                            cursor: pointer;
                        }
                    }
                }

            }

        }
    }
}