{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}

    <script src="{{ url_for('static', filename='index.js') }}"></script>

{% endblock %}

{% block content %}



<div id="connectArea">
    <ul id="receiptList" class="col scroll-y">
        {% for receipt in receipts %}
            <li data-receiptid="{{ receipt.id }}">
                <span class="date">{{ receipt.date }}</span>
                <span class="title">{{ receipt.note }}</span>
                <span class="total">{{ receipt.total }}</span>
            </li>
        {% endfor %}
    </ul>

    <div id="imagesArea" class="col">
        <div class="actions row">
            <div class="group">
                <a href="#1" onclick="Ui.messageDialog('Connect screen'); return false;">Connect</a>
                <a href="#2">Cash</a>
                <a href="#3">Manual</a>
                <a href="#4">Ignore</a>
            </div>
            <div class="group">
                <a data-actionType="rotate_left" href="#">Rotate left</a>
                <a data-actionType="rotate_right" href="#">Rotate right</a>

                <a data-actionType="zoom_in" href="#">Zoom in</a>
                <a data-actionType="zoom_out" href="#">Zoom out</a>
            </div>
        </div>
        <div id="imagePreview" class="row scroll-x scroll-y"></div>

        <ul id="imageList" class="row scroll-x">
            {% for image in images %}
                <li>
                    <img src="/receipt_thumb/{{image.uid}}/thumb" data-imguid="{{image.uid}}"/>
                </li>
            {% endfor %}
        </ul>

    </div>
</div>


<script language="javascript">

    $(window).addEvent('domready', function() {
        IndexController.initializePanView();
        IndexController.initializeActionsHandlers();
        IndexController.initializeThumbnailSwitcher();
        IndexController.initializeHorizontalScroll();

        //IndexController.loadImage('0B_V-GNTsCHGEclljQWdZQ1ZwNHM');
        IndexController.loadFirstThumbnail();
    });
</script>

{% endblock %}