{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}


{% endblock %}

{% block content %}



<div id="connectArea">
    <div id="receiptListContainer">
        <ul id="receiptList">
            {% for receipt in receipts %}
                <li><span class="date">{{receipt.date}}</span><span class="title">{{ receipt.note }}</span><span class="total">{{ receipt.total }}</span></li>
            {% endfor %}
        </ul>
    </div>
    <div id="imagesArea">
        <div id="imagesAreaContainer">

            <div id="imagePreview">
                Image preview
            </div>
            <div id="imageListContainer">
                <div class="scrollarea">

                    <ul id="imageList">
                        {% for image in images %}
                            <li><img src="/receipt_thumb/{{image.uid}}"/></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<script language="javascript">
    function autoResizeDiv()
    {
        var availableHeight = window.getSize().y;
        var scrollSize = getScrollBarWidth();

        //document.body.style.height = window.innerHeight +'px';
        $('receiptListContainer').setStyle('height', availableHeight);

        var scrollArea = $('imageListContainer').getElement('.scrollarea');

        scrollArea.setStyle('width', $('imagesAreaContainer').getSize().x);

        console.log('OMG', scrollArea.getSize().y, '::', scrollSize);
        $('imageListContainer').setStyle('height', scrollArea.getSize().y);
        $('imagePreview').setStyle('height', availableHeight - $('imageListContainer').getSize().y);
    }
    window.onresize = autoResizeDiv;
    autoResizeDiv();

//    $(window).addEvent('domready', function() {
//        autoResizeDiv();
//    });

    $(window).addEvent('load', function() {
        console.log('YYY');
        autoResizeDiv();
        autoResizeDiv();
    });
</script>

{% endblock %}